// Colors
$light-grey: #ddd;
$primary-color: #5b4681;

// Sizes
$xs-size: 1rem;
$small-size: 1.4rem;
$site-max-width: 50rem;

// Font sizes
$base-font-size: 1.4rem;

// Form inputs
$input-border: $light-grey;
$input-spacing: $xs-size;

// Boxed view
$boxed-view-overlay-bg: $light-grey;
$boxed-view-bg: white;

// Button
$button-bg: $primary-color;
$button-color: white;
$button-pill-color: $primary-color;
$button-secondary-bg: #f9f9f9;
$button-secondary-border-color: $light-grey;
$button-secondary-color: #777;

// Header
$header-bg: $primary-color;
$header-color: white;
